.navigationPage {
  text-align: center;
  padding: 40px 0;
}

.videoContainer {
  display: inline-block;
  width: 50%;
}

.infoContainer {
  display: inline-block;
  width: 50%;
}
  
.videoWrapper {
  width: 500px;
}

.objectWrapper {
  width: 500px;
  margin: 0 calc(50% - 250px);
  text-align: center;
}

.playbar {
  width: 500px;
  height: 12px;
  margin: 0 calc(50% - 250px);
  margin-top: 10px;
  background-color: #c4c4c4;
  border-radius: 3px;
  position: relative;
}

.progressbar {
  height: 5px;
  margin: 0 calc(50% - 250px);
  background-color: skyblue;
  border-radius: 3px;
}

.objectTag {
  font-size: 17px;
  width: fit-content;
  margin-left: 10px;
  margin-top: 8px;
  padding: 5px;
  display: inline-block;
  color: gray;
  border-radius: 10px;
  border: 1px solid gray;
  cursor: pointer;
}

.selectedTag {
  font-size: 17px;
  width: fit-content;
  margin-left: 10px;
  margin-top: 8px;
  padding: 5px;
  display: inline-block;
  background-color: black;
  color: white;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.tagWrapper {
  display: inline-block;
}

.timeline {
  background-color: black;
  position: absolute;
  height: 12px;
  display: inline-block;
  cursor: pointer;
}