.navigationPage {
  text-align: center;
  padding: 40px 0;
}

.videoContainer {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.infoContainer {
  display: inline-block;
  width: 50%;
}
  
.videoWrapper {
  width: 500px;
}

.objectWrapper {
  width: 500px;
  margin: 0 calc(50% - 250px);
  text-align: center;
}

.actionWrapper {
  width: calc(100% - 40px);
  overflow: scroll;
  height: 100%;
  padding: 0 20px;
}

.actionInfo {
  height: 26px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #efefef;
  margin-bottom: 8px;
  cursor: pointer;
}

.selectedActionInfo {
  height: fit-content;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #efefef;
  margin-bottom: 8px;
  cursor: pointer;
}

.selectedActionTop {
  border-bottom: 1.5px solid black;
  padding-bottom: 5px;
  font-weight: bold;
}

.actionName {
  text-align: left;
  font-size: 20px;
  display: inline-block;
  width: 80%;
}

.actionDuration {
  display: inline-block;
  color: gray;
  font-size: 15px;
  margin-top: 2.5px;
  width: 20%;
  text-align: right;
}


.actionTag {
  font-size: 17px;
  width: fit-content;
  margin-left: 10px;
  margin-top: 8px;
  padding: 5px;
  display: inline-block;
  color: gray;
  border-radius: 10px;
  border: 1px solid gray;
  cursor: pointer;
}

.tagWrapper {
  display: inline-block;
}

.barWrapper{
  margin-top: 10px;
}

.playbar {
  width: 500px;
  height: 12px;
  margin: 0 calc(50% - 250px);
  background-color: #c4c4c4;
  border-radius: 3px;
  position: relative;
  margin-bottom: 2px;
}

.progressbar {
  height: 5px;
  margin: 0 calc(50% - 250px);
  background-color: skyblue;
  border-radius: 3px;
}

.objectTag {
  font-size: 17px;
  width: fit-content;
  margin-left: 10px;
  margin-top: 8px;
  padding: 5px;
  display: inline-block;
  color: gray;
  border-radius: 10px;
  border: 1px solid gray;
  background-color: white;
  cursor: pointer;
}

.selectedTag {
  font-size: 17px;
  width: fit-content;
  margin-left: 10px;
  margin-top: 8px;
  padding: 5px;
  display: inline-block;
  background-color: black;
  color: white;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.timeline {
  background-color: black;
  position: absolute;
  height: 12px;
  display: inline-block;
  cursor: pointer;
}

.actionbarWrapper {
  width: 500px;
  height: 9px;
  margin: 0 calc(50% - 250px);
  position: relative;
}

.actionbar {
  height: 9px;
  background-color: lightcoral;
  border-radius: 3px;
  position: absolute
}

.infoWrapper {
  margin: 20px;
  border: 4px solid lightblue;
  border-radius: 10px;
  height: 700px;
}

.objectImg {
  display: inline-block;
  width: 120px;
  height: 90px;
  margin-left: 10px;
}